.subject-button{
    height: 5em;
    width: 16em;
}
.page{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.image-container{
    display: flex;
    justify-content: center;
    padding: 2em;
}
a{
    text-decoration: none;
}
.subject-button{
    background-color: rgba(255, 255, 255, 0.5);
    font-size: large
}
.main-container{
    background: linear-gradient(137deg, rgba(182,113,251,1) 0%, rgba(104,4,204,1) 57%);
    height: 100%;
}