/*
*** colors: 

*/
body{
    /* overflow-y: hidden; */
    height: 100%;
    font-family: 'Montserrat', sans-serif !important;
    background-color: rgba(32,28,92,1);

}
.whole-page{
    height: 100%;
    display: grid;
    grid-template-rows: 8% 92%;
}
button{
    width: 100%;
    height: 100%;
    font-size: 0.9em;
    border-radius: 0.5em;
    color: black !important;
    font-family: 'Montserrat', sans-serif !important;

}
.answer-btn-cnt{
    flex: 1;
}
.answer-button{
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    min-height: 5em;
    height: 100%;
    background-color: rgba(220, 230, 250, 1);
    border-color: rgba(0,0,0,0.6);
    color: black !important;
    border: 1px solid rgba(0,0,0,0.9);
}
.answer-button-clicked{
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    min-height: 5em;
    width: 100%;
    border-color: transparent;
    border-color: rgba(0,0,0,0.6);
    background-color: rgba(220, 230, 250, 0.7);
    /* background-color: rgba(255, 255, 255, 0.7); */
    color: black !important;
    border: 1px solid rgba(0,0,0,0.9);

    /* box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px; */



}

/* not clicked + correct = bad = red */
.answer-button-correct{
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    min-height: 5em;
    width: 100%;
    /* border-color: rgba(0,0,0,0.6); */
    background-color: rgba(255,20,20,0.6);
    color: black !important;
    border: 1px solid rgba(0,0,0,0.9);
        
}

/* clicked + correct = good = green */
.answer-button-clicked-correct{
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    min-height: 5em;
    width: 100%;
    border-color: rgba(0,0,0,0.6);
    background-color: rgba(0,255,0,0.6);
    color: black !important;
    border: 1px solid rgba(0,0,0,0.9);



}

/* not clicked + wrong = good = green */
.answer-button-wrong{
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    min-height: 5em;
    width: 100%; 
    border-color: rgba(0,0,0,0.6);
    background-color: rgba(0,255,0,0.6);
    color: black !important;
    border: 1px solid rgba(0,0,0,0.9);



}

/* clicked + false = bad = red */
.answer-button-clicked-wrong{
    display: grid;
    grid-template-columns: 10% 80%;
    align-items: center;
    min-height: 5em;
    width: 100%;
    border-color: rgba(0,0,0,0.6);
    background-color: rgba(255,20,20,0.6);
    /* border-width: 0.5em;  */
    color: black !important;
    border: 1px solid rgba(0,0,0,0.9);



}
.question{
    padding: 1em;
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    color: white;
    font-weight: 800;
}
.answers-container{
    display: flex;
    flex-direction: column;
    /* height: 80%; */
    justify-content: space-around;
    background-color:rgba(255, 255, 255, 0.2);
    padding: 0.5em;
    border-radius: 10px;
}

.page-container{ 
    /* height: 93%; */
    background-color: rgba(32,28,92,1);
    /* background-color: #e5e5f7; */
    /* background-color: rgba(229, 229, 247,0.1); */
    /* opacity: 0.1; */
    /* background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #e5e5f7 40px ), repeating-linear-gradient( #201f5a1b, #201f5a34 ); */
    /* background: linear-gradient(137deg, rgba(182,113,251,1) 0%, rgba(104,4,204,1) 57%); */
}

.card{
    height: 100%;
}
.card-content{
    height: 100%;
}
.card-container{ 
    height: 100%;
    /* display: grid; */
    display: flex;
    /* grid-template-rows: 25% 55% 20%; */
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 0.5em;
}
.buttons-down-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;

}
.button-down{ 
    width: 13em;
    height: 3em;
    margin: 0.3em;
    color: white !important;
    font-weight: bolder;
    background-color: rgba(0,0,0,0.3) !important;
    border-color:rgba(255, 255, 255, 0.4);
}

.logo{
    display: flex;
    justify-content: center;
    /* padding: 1em; */
}
.subject-title{
    background-color: rgba(0,0,0,0.7);
    color: white;
    text-align: center;
    padding: 2em;
    font-size: 1.5em;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;


}
a{
    text-decoration: none;
    color: white;
}
.square-border{
    position: relative;
    margin: 1em;
    width: 20px;
    height: 20px;
    border: 1.5px solid black;
    border-radius: 20px;
    /* padding: 0.2em; */
}

.square-container-clicked{
    position: absolute;
    /* top: 0%;
    left: 0%; */
    box-sizing: border-box;
    width: 14px;
    height: 14px;
    border: 1px solid black;
    background-color: black;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
    /* margin: 0.2 em; */
}
.answer-text{
    text-align: left;
    padding-left: 1em;
}